html{
  scroll-snap-type: y mandatory;
}

.app__videos{
  position: relative;
  height: 80%;
  overflow: scroll;
  border-radius: 10px;
  border: 4px solid rgb(17, 107, 243);
  width: 25%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

.app{
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.app__videos::-webkit-scrollbar{
  display: none;
}

